<div class="container">
  <app-my-nav-bar></app-my-nav-bar>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title" style="font-size: 1.3rem"><b>User Login</b></div>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-4"></div>
            <div class="col align-items-center">
              <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                  <!--          <div class="form-group ">-->
                  <label for="username">Username:</label>
                  <input #name="ngModel" [(ngModel)]="username" class="form-control col-sm-3 col-xs-6" id="username" name="name"
                         required type="text">
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Username is required!</div>
                  <!--          </div>-->
                </div>
                <!--          <div class="form-group ">-->
                <div class="input-group mb-2">
                  <label for="password">Password:</label>
                  <input #key="ngModel" [(ngModel)]="password" class="form-control col-sm-3 col-xs-6" id="password" name="key"
                         required type="password">
                  <div [hidden]="key.valid || key.pristine" class="alert alert-danger">Password is required!</div>
                </div>
                <button [disabled]="!loginForm.form.valid" class="btn btn-success col-sm-3 col-xs-6" type="submit">
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
