<div class="container">
  <app-my-nav-bar></app-my-nav-bar>
  <div class="row">
    <div class="col-2">
      <h4>Search items:</h4>
    </div>
    <div class="col-8">
      <input type="text" [(ngModel)]="searchText" style="width:100%; position: relative; top:5px;" >
    </div>
    <div class="col-2">
      <button class="btn btn-outline-primary" (click)="search()">Search</button>
    </div>
  </div>
  <div class="row">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/banner.png">
      </div>
      <div class="carousel-caption">
        <h3>APPLE!</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/banner.png">
      </div>
      <div class="carousel-caption">
        <h3>BANANA!</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/banner.png">
      </div>
      <div class="carousel-caption">
        <h3>ORANGE!</h3>
      </div>
    </ng-template>
  </ngb-carousel>
  </div>
  <div class="row" *ngIf="recentOrders.length>0">
    <div class="col-12">
      <h4>Buy them again: </h4>
      <div class="card-deck">
        <div class="card" style="max-width: 200px;" *ngFor="let i of recentOrders let index=index" (click)="openDetail(content,index,'recent')">
          <img style="max-width: 200px;" class="card-img-top" src="{{i.picture}}">
          <div class="card-body">
            <div class="card-title">
              {{i.category | uppercase}} - <b>{{i.name}}</b>
            </div>
            <div class="card-text" style="display: flex">
              <div>{{i.price | currency}} &nbsp;&nbsp;&nbsp;</div>
              <div *ngIf="i.quantity==0" style="color:red">Out of stock</div>
              <div *ngIf="i.quantity<=5 && i.quantity>0" style="color:red">Only {{i.quantity}} left</div>
              <div *ngIf="i.quantity>5" style="color:green">In stock</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h5>Filter by category:</h5>
    </div>
    <div class="col-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{filterIndex>=0?categoryList[filterIndex]:'Select Category'}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let i of categoryList let index=index" (click)="selectFilter(index)">{{i}}</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-outline-danger" (click)="selectFilter(-1)">
        Clear
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-row">
        <div class="card" *ngFor="let i of filterList let index=index" (click)="openDetail(content,index,'list')">
          <img class="card-img-top" src="{{i.picture}}">
          <div class="card-body">
            <div class="card-title">
              {{i.category | uppercase}} - <b>{{i.name}}</b>
            </div>
            <div class="card-text" style="display: flex">
              <div>{{i.price | currency}} &nbsp;&nbsp;&nbsp;</div>
              <div *ngIf="i.quantity==0" style="color:red">Out of stock</div>
              <div *ngIf="i.quantity<=5 && i.quantity>0" style="color:red">Only {{i.quantity}} left</div>
              <div *ngIf="i.quantity>5" style="color:green">In stock</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Items detail</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-title">
      <b style="font-size: 1.1rem">Item name:</b> <p>{{selectedItem.name}}</p>
    </div>
    <div class="card-text">
      <b style="font-size: 1.1rem">Description:</b> <p>{{selectedItem.description}}</p>
    </div>
    <div style="text-align: center; margin:1vw 0;">
      <img style="width: 300px;left: auto;right: auto;" src="{{selectedItem.picture}}" alt="{{selectedItem.name}}'s picture"/>
    </div>
    <div *ngIf="selectedItem.quantity>0" style="display: flex">
      <b style="font-size: 1.1rem; position: relative; top:5px;">Quantity:</b>
      <select [(ngModel)]="selectedQty" style="margin: 0 10px;">
        <option *ngFor="let i of selectOption">{{i}}</option>
      </select>
      <button class="btn btn-outline-primary" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</ng-template>
