.container{
  .row{
    margin-bottom: 1vw;
  }
  ngb-carousel{
    margin-bottom: 1vw;
  }
}

@media only screen and (max-width: 500px){
  .card-row{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px){
  .card-row{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 900px){
  .card-row{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-row{
  background-color: #eeeeee;
  padding: 10px 20px;
  border-radius: 5px;
  border: #949494 solid thin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap:1vw;
  .card{
    width :auto;
  }
}

.card-deck{
  background-color: #eeeeee;
  padding:10px 20px;
  border: 5px;
  overflow: auto;
}

img{
  max-width: initial;
  max-height: initial;
}
