#search{
  padding-top:5%;
}
body {
  padding-top: 30px;
}
.product {
  margin-bottom: 30px;
}
.product-inner {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  padding: 10px;
}
.product img {
  margin-bottom: 10px;
}

.container{
  margin-top: auto;
  .row{
    margin-bottom: 1vw;
  }
  ngb-carousel{
    margin-bottom: 1vw;
  }
}

@media only screen and (max-width: 500px){
  .card-row{
    //grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 700px){
  .card-row{
    //grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 900px){
  .card-row{
    //grid-template-columns: 1fr;
  }
}

.card-row{
  //background-color: #eeeeee;
  padding: 10px 20px;
  //border-radius: 5px;
  //border: #949494 solid thin;
  display: grid;
  //grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap:1vw;
  .card{
    width :auto;
  }
}

.card-deck{
  //background-color: #eeeeee;
  padding:10px 20px;
  //border: 5px;
  overflow: auto;
}

img{
  max-width: initial;
  max-height: initial;
}

* { box-sizing: border-box; }

.product-grid {
  .product {

  }
}

.product-list {
  .product {
    width: 100%;
    min-width: 320px;
  }

  .product-image {
    float: left;
    margin-right: 20px;
  }
}

.product {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ddd;

  &:hover {
    border: 1px solid #aaa;
    cursor: pointer;
  }
}
