.container{
  .row{
    margin-bottom: 1vw;
  }
  ngb-carousel{
    margin-bottom: 1vw;
  }
}

@media only screen and (min-width: 500px){
  .card-row{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 700px){
  .card-row{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 900px){
  .card-row{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-row{
  background-color: #d1d1d1;
  padding: 10px 20px;
  border-radius: 5px;
  border: black solid thick;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap:1vw;
  .card{
    width :auto;

  }
}

img{
  max-width: initial;
  max-height: initial;
}
