<div class="container">
  <app-my-nav-bar></app-my-nav-bar>


    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/banner1.jpg" width="100%" height="100%">
        </div>
        <div class="carousel-caption">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/banner2.png" width="100%" height="100%">
          <div class="carousel-caption">
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/banner3.png" width="100%" height="100%">
          <div class="carousel-caption">
          </div>
        </div>
      </ng-template>
    </ngb-carousel>

  <div class="row" *ngIf="recentOrders.length>0">
    <div class="col-xl-12">
      <h4>Buy them again: </h4>
      <div class="card-row">
        <div class="row">
          <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" style="max-width: 200px;" *ngFor="let i of recentOrders let index=index" (click)="openDetail(content,index,'recent')">
            <img style="max-width: 200px;" class="card-img-top" src="{{i.picture}}">
            <div class="card-body">
              <div class="card-title">
                {{i.category | uppercase}} - <b>{{i.name}}</b>
              </div>
              <div class="card-text" style="display: flex">
                <div>{{i.price | currency}} &nbsp;&nbsp;&nbsp;</div>
                <div *ngIf="i.quantity==0" style="color:red">Out of stock</div>
                <div *ngIf="i.quantity<=5 && i.quantity>0" style="color:red">Only {{i.quantity}} left</div>
                <div *ngIf="i.quantity>5" style="color:green">In stock</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="search">
    <form class="row" id="search-form" action="" method="POST" enctype="multipart/form-data">
      <div class="form-group col-sm-9 col-xs-9">
        <input class="form-control" [(ngModel)]="searchText" name="Search" type="text" placeholder="Search" />
      </div>
      <div class="form-group col-sm-3 col-xs-3">
        <button type="submit" class="btn btn-block btn-primary" (click)="search()">Search</button>
      </div>
    </form>
  </div>


  <div id="filter">
    <form class="row">
      <div class="form-group col-sm-4 col-xs-6">
        <select data-filter="make" class="filter-make filter form-control" (change)="selectFilter()" [(ngModel)]="filter" name="filter">
          <option value="Select Category">Select Category</option>
          <option value="{{i}}" *ngFor="let i of categoryList let index=index" >{{i}}</option>
          <option value="Show All">Show All</option>
        </select>
      </div>


      <div class="form-group col-sm-4 col-xs-6">
        <select data-filter="price" class="filter-price filter form-control" (change)="selectFilter()" [(ngModel)]="priceIndex" name="priceIndex">
          <option value="{{index}}" *ngFor="let i of priceFilter, let index=index"> {{index==0?"Select Price Range":(i.r>0?"From "+i.l+" To "+i.r:"Above "+i.l)}} </option>
          <option value="0">Show All</option>
        </select>
      </div>

      <div class="form-group col-sm-4 col-xs-6">
        <button class="btn btn-block btn-primary" (click)="filter='Select Category';priceIndex=0;selectFilter()">
          Clear
        </button>
      </div>

    </form>
  </div>


  <div class="row" *ngIf="recentOrders.length>0">
    <div class="col-xl-12">
      <h4>Buy them again: </h4>
      <div class="card-row">
        <div class="row col-xl-12">
        <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"  *ngFor="let i of recentOrders let index=index" (click)="openDetail(content,index,'recent')">
          <img style="max-width: 200px;" class="card-img-top" src="{{i.picture}}">
          <div class="card-body">
            <div class="card-title">
              {{i.category | uppercase}} - <b>{{i.name}}</b>
            </div>
            <div class="card-text" style="display: flex">
              <div>{{i.price | currency}} &nbsp;&nbsp;&nbsp;</div>
              <div *ngIf="i.quantity==0" style="color:red">Out of stock</div>
              <div *ngIf="i.quantity<=5 && i.quantity>0" style="color:red">Only {{i.quantity}} left</div>
              <div *ngIf="i.quantity>5" style="color:green">In stock</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



  <div id="productView" class="product-grid" >
    <h4>Products: </h4>
    <div class="row" >

    <div class="product span3 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let i of filterList let index=index" (click)="openDetail(content,index,'list')">
      <div class="product-image">
        <img class="card-img-top" src="{{i.picture}}">
      </div>
      <div class="card-body">
        <div class="card-title">
          {{i.category | uppercase}} - <b>{{i.name}}</b>
        </div>
        <div class="card-text" style="display: flex">
          <div>{{i.price | currency}} &nbsp;&nbsp;&nbsp;</div>
          <div *ngIf="i.quantity==0" style="color:red">Out of stock</div>
          <div *ngIf="i.quantity<=5 && i.quantity>0" style="color:red">Only {{i.quantity}} left</div>
          <div *ngIf="i.quantity>5" style="color:green">In stock</div>
        </div>
      </div>
    </div>
    </div>
  </div>


<!--  <div class="row">-->
<!--    <div class="col-xl-12">-->
<!--      <h4>Product List2: </h4>-->
<!--      <div class="card-row">-->
<!--        <div class="row">-->
<!--        <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 " style="max-width: 200px;" *ngFor="let i of filterList let index=index" (click)="openDetail(content,index,'list')">-->
<!--          <img class="card-img-top" src="{{i.picture}}">-->
<!--          <div class="card-body">-->
<!--            <div class="card-title">-->
<!--              {{i.category | uppercase}} - <b>{{i.name}}</b>-->
<!--            </div>-->
<!--            <div class="card-text" style="display: flex">-->
<!--              <div>{{i.price | currency}} &nbsp;&nbsp;&nbsp;</div>-->
<!--              <div *ngIf="i.quantity==0" style="color:red">Out of stock</div>-->
<!--              <div *ngIf="i.quantity<=5 && i.quantity>0" style="color:red">Only {{i.quantity}} left</div>-->
<!--              <div *ngIf="i.quantity>5" style="color:green">In stock</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Items detail</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-title">
      <b style="font-size: 1.1rem">Item name:</b> <p>{{selectedItem.name}}</p>
    </div>
    <div class="card-text">
      <b style="font-size: 1.1rem">Description:</b> <p>{{selectedItem.description}}</p>
    </div>
    <div style="text-align: center; margin:1vw 0;">
      <img style="width: 300px;left: auto;right: auto;" src="{{selectedItem.picture}}" alt="{{selectedItem.name}}'s picture"/>
    </div>
    <div *ngIf="selectedItem.quantity>0" style="display: flex">
      <b style="font-size: 1.1rem; position: relative; top:5px;">Quantity:</b>
      <select [(ngModel)]="selectedQty" style="margin: 0 10px;">
        <option value="{{i}}" *ngFor="let i of selectOption">{{i}}</option>
      </select>
      <button class="btn btn-outline-primary" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</ng-template>
