form{
  button{
    width:120px;
    margin:0 10px;
  }
}
.card-title{
  font-size: 1.3rem;
}
.card{
  margin:10px 0;
}

img{
  max-width: 30px;
}

.price-tag{
  padding:5px 10px;
  font-style: oblique;
}
